GCP_PROJECT_ID=portfolio-hub-2026
GCP_REGION=europe-west2
GCS_BUCKET_RAW=portfolio-hub-2026-music-raw

LASTFM_API_KEY=

KAFKA_BOOTSTRAP_SERVERS=pkc-l6wr6.europe-west2.gcp.confluent.cloud:9092
KAFKA_TOPIC_LASTFM=lastfm.charts
KAFKA_API_KEY=
KAFKA_API_SECRET=
